/* Main styles */

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}
.soligon{
 border-radius: 7px;
 padding: .2em;
 font-weight: 800;
 background-image: linear-gradient(to top left, #39be85, #ff586068)
}
.form {
  display: flex;
  gap: 1em;
}
.form input {
  border: none;
  border-radius: 10px;
  text-align: center;

  background-image: linear-gradient(to top left, #ffaf0354, #ff586068);
}
.form input::placeholder {
  color: #fff;
  font-weight: 700;
}
.fa-eye{
  cursor: pointer;
  position: absolute;
  right: 10px;
 top: 5px;
}
.middle{
  position: relative;
}
.profile-image {
  width: 50%;
  border-radius: 50%;
  object-fit: contain;
}

  
  .box {
    display: flex;
    justify-content: space-between;
    margin: 2em;
    display: flex;
  
  gap: 2em;
  cursor: pointer;
}
.My-Profile,
.my-score-div,
.my-bank {
  padding: 2em;
  color: white;
  color: white;
}

.My-Profile {
  background-color: indigo;
}
.my-score-div {
  background-color: #39b385;
}
.my-bank {
  background-color: #e52a5a;
}
/* Profile styles */
.hidden {
  display: none;
}
.profile {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
}
.first-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 1em;
  height: 50%;
}
.first-profile h2 {
  font-size: 1.2rem;
  margin-top: 1.5em;
}
.first-profile span {
  margin: 0.6em;
  font-size: 0.85rem;
  font-weight: 600;
  color: #8e03ffd0;
}
.first-profile button {
  padding: 0.5em;
  font-size: 0.75rem;
  border-radius: 10px;
  border: 2px rgb(205, 92, 92) solid;
  background-color: #ffaf0354;
  color: indigo;
}
.detailed-profile h3 {
  font-size: 0.95rem;
  font-weight: 400;
  margin-bottom: 0.2em;
}
.detailed-profile p {
  font-weight: 600;
  font-size: 0.85rem;
  border: 1px solid gray;
  margin-bottom: 0.8em;
  padding: 0.35em;
}

/* Score styles */
.soligon-process {
  font-weight: 600;
}
.second-heading {
  font-size: 0.85rem;
  border-bottom: 1px solid gray;
}
.third-heading {
  margin-top: 2em;
}
.detailed-score {
  margin-top: 1em;
  padding-left: 1em;
}
table {
  border: 1px solid gray;
  margin-top: 1em;
  margin-bottom: 1em;
}
.subject,
.score {
  font-size: 0.85rem;
}
td {
  border-bottom: 1px solid grey;
}
.total {
  margin-bottom: 2em;
}
th {
  font-size: 0.9rem;
}

/* Banking Styles */
.my-bank-div {
  padding: 1em;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header p {
  color: #39b385;
  font-weight: bold;
}
.balance-div {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  align-items: center;
}
.balance-div span {
  font-size: 3rem;
  color: rgb(136, 136, 136);
}
.bank-section {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
}
.movement-container {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 1em 2em;
}
.movement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 2em 0em;
  color: #fff;
}
.deposit,
.withdraw {
  font-size: 0.8rem;
  border-radius: 10px;
  padding: 0.2em 0.7em;
}
.deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.withdraw {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.value {
  color: #121212;
  font-size: 1rem;
  margin-left: auto;
  text-align: end;
}
.stats {
  display: flex;
  justify-content: space-evenly;
}
.transfer-div {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
}
.bank-h2 {
  font-size: 1rem;
  color: #333;
}
.transfer-operation,
.close-operation {
  display: flex;
  justify-content: space-between;
}
.transfer-operation p,
.close-operation p {
  font-size: 0.75rem;
}
.transfer-operation input {
  width: 100px;
  border: none;
  border-radius: 10px;
  background-color: #ffcb03;
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.pay {
  font-size: 0.7rem;
}
.close-div {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  padding: 1em;
  margin-top: 1em;
  border-radius: 10px;
}
.close-operation input {
  width: 100px;
  border: none;
  border-radius: 10px;
  background-color: #ff5860a7;
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.request-div {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  padding: 1em;
  border-radius: 10px;
}

.close{
  width: 5%;
  float: right;
  vertical-align: middle;
  cursor: pointer;
}
table{
  width: 100%;
  border: 1px solid;
}


@media only screen and (max-width: 522px) {
  nav{
    margin: 0em;
  }
}

@media only screen and (max-width: 440px) {
  nav{
    margin: 1em;
 
  }
  nav input{
    width: 70%;
    justify-content: center;
    align-items: center;
  }
  .box{
flex-direction: column;
margin-top: 5em;
  }
  .form{
    display: none;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    right: 100px;
    left: 0;
    bottom: 0;
    top: 10px;
    background-color: whitesmoke;
    padding: 1em;
  }
  .menu{
    display: block;
    cursor: pointer;
  }
  .profile{
   
 grid-template-columns: 1fr;
  }
  .bank-section{
    grid-template-columns: 1fr;
  }
  .movements-div{
    order: 2;
  }
  .money-options{
    order: 1;
  }
 
}